<mat-table #table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="Position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Meeting name">
        <mat-header-cell *matHeaderCellDef> Meeting Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.date | date : "dd-MM-yyyy" }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Your meeting">
        <mat-header-cell *matHeaderCellDef> Your meeting </mat-header-cell>
        <mat-cell *matCellDef="let element" class="">
            <mat-icon>
                {{ element.isYour ? "flag" : "not_interested" }}
            </mat-icon>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="addParamsToURL(row.id)"
    ></mat-row>
</mat-table>

<div *ngIf="(totalItems$ | async) === 0" class="no-records">No Records</div>

<mat-paginator
    *ngIf="totalItems$ | async"
    #paginator
    [pageSize]="itemsPerPage"
    [length]="totalItems$ | async"
    (page)="changePage($event)"
    class="paginator"
></mat-paginator>
