@import "../../../../styles/variables";

.snackbar {
    transition: all 0.3s ease-in-out;

    &__message {
        font-size: $small-font;
        font-weight: $bold-weight;
    }

    &.normal {
        color: #fff;
    }

    &.error {
        color: $red;
    }
}
