@import "../../../../../../styles/variables";

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $medium-spacing;

    .event {
        width: 90%;
        margin: 0 auto 15px auto;
        display: flex;
        align-items: center;

        &-own {
            align-self: flex-start;
            justify-content: flex-start;
        }

        &-not-own {
            align-self: flex-start;
            justify-content: flex-start;
            flex-direction: row-reverse;
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;

            &__goal {
                transform: scale(2);
                box-shadow:
                    rgba(0, 0, 0, 0.07) 0px 1px 1px,
                    rgba(0, 0, 0, 0.07) 0px 2px 2px,
                    rgba(0, 0, 0, 0.07) 0px 4px 4px,
                    rgba(0, 0, 0, 0.07) 0px 8px 8px,
                    rgba(0, 0, 0, 0.07) 0px 16px 16px;
                border-radius: 45px;
            }

            &__card {
                height: 48px;
                width: 33px;
                border-radius: 7px;
                box-shadow:
                    rgba(0, 0, 0, 0.07) 0px 1px 1px,
                    rgba(0, 0, 0, 0.07) 0px 2px 2px,
                    rgba(0, 0, 0, 0.07) 0px 4px 4px,
                    rgba(0, 0, 0, 0.07) 0px 8px 8px,
                    rgba(0, 0, 0, 0.07) 0px 16px 16px;
                &--yellow {
                    background-color: yellow;
                }

                &--red {
                    background-color: tomato;
                }
            }
        }

        &__time,
        &__description {
            background-color: #efefef;
            border-radius: 30px;
            padding: $medium-spacing;
            margin: 0 $medium-spacing;
            font-size: $normal-font;
            box-shadow:
                rgba(0, 0, 0, 0.07) 0px 1px 1px,
                rgba(0, 0, 0, 0.07) 0px 2px 2px,
                rgba(0, 0, 0, 0.07) 0px 4px 4px,
                rgba(0, 0, 0, 0.07) 0px 8px 8px,
                rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }
    }
}
