<app-content-card *ngIf="!isDetail">
    <app-wide-card-header header [name]="'Meetings'" [subName]="'team1'">
        <app-button-container buttons>
            <button mat-raised-button class="button--light">button1</button>
            <button mat-raised-button class="button--light">button2</button>
            <button
                mat-raised-button
                class="button--light"
                (click)="changeState()"
            >
                button3
            </button>
        </app-button-container>
    </app-wide-card-header>

    <ng-container content>
        <div class="xd">Example of component1</div>
        <div class="xd">Example of component2</div>
        <div class="xd">Example of component3</div>
    </ng-container>
</app-content-card>

<app-content-card *ngIf="!isDetail">
    <app-wide-card-header header [name]="'Meetings'" [subName]="'team1'">
        <app-button-container buttons>
            <button mat-raised-button class="button--light">button1</button>
            <button mat-raised-button class="button--dark">button2</button>
            <button
                mat-raised-button
                class="button--light"
                (click)="changeState()"
            >
                button3
            </button>
        </app-button-container>
    </app-wide-card-header>

    <div content>
        <app-half-card-section>
            <app-section-header [name]="'Testowa nazwa sekcji'" sectionHeader>
            </app-section-header>
            <div sectionContent>
                <div class="xd">Example of component1</div>
                <div class="xd">Example of component2</div>
                <div class="xd">Example of component3</div>
            </div>
        </app-half-card-section>
    </div>
</app-content-card>
