<ng-container
    *ngIf="{
        isDetail: isDetail$ | async,
        longMeetings: longMeetings$ | async,
        shortMeetings: shortMeetings$ | async,
        currentMeeting: currentMeeting$ | async
    } as vm"
>
    <app-content-card>
        <app-wide-card-header header name="Meetings">
            <app-button-container buttons>
                <button
                    mat-raised-button
                    class="button--light"
                    (click)="openAddMeetingPopup()"
                >
                    Add Meeting
                </button>
            </app-button-container>
        </app-wide-card-header>

        <ng-container content>
            <app-meeting-table
                *ngIf="vm.longMeetings && vm.shortMeetings"
                [data]="vm.isDetail ? vm.shortMeetings : vm.longMeetings"
            ></app-meeting-table>
        </ng-container>

        <app-markup></app-markup>
    </app-content-card>

    <app-content-card *ngIf="vm.isDetail">
        <app-half-card-right-header
            header
            name="{{ vm.currentMeeting?.name }}"
            (closedClicked)="switchDetail()"
        >
            <app-button-container buttons>
                <button mat-raised-button class="button--light">
                    Modify Meeting
                </button>
            </app-button-container>
        </app-half-card-right-header>

        <ng-container content>
            <app-current-meeting-content
                *ngIf="vm.currentMeeting"
                [meeting]="vm.currentMeeting"
            ></app-current-meeting-content>
        </ng-container>
    </app-content-card>
</ng-container>
