@import "../variables";

.auth {
    width: 500px;
    background-color: $purple-light;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .mat-mdc-card-header.auth__header {
        background-color: $purple-mid-dark;
        padding: $large-spacing;
        border-radius: 10px;
    }

    .mat-mdc-card-title.auth__title {
        font-size: $very-large-font;
    }

    &__form {
        max-width: 400px;
        margin: 0 auto;
        padding: $medium-spacing;

        &__field {
            width: 100%;
            margin-bottom: 10px;

            .field-input {
                width: 100%;
            }

            &.mat-form-field-invalid {
                .field-label {
                    color: $red;
                }

                .field_input {
                    border-color: $red;
                }
            }
        }

        .field-error {
            color: $red;
            margin-top: 5px;
        }

        &__submit {
            margin-top: $large-spacing;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $large-spacing;

        &-text {
            padding-right: $medium-spacing;
        }

        &-link {
            a {
                text-decoration: none;
                color: $dark-btn-back;
                font-weight: $bold-weight;
            }
        }
    }
}
