<div class="logo-container" [appPermissionBackgroundColor]>
    <img
        class="logo-container__img"
        src="../../../../../../../../assets/images/user-icon.png"
        alt=""
    />
</div>
<p class="text--bold">{{ user.role | snakeToNormal }}</p>

<div class="button-container">
    <button
        mat-mini-fab
        (click)="onCollapseButtonClick()"
        class="button-container__button"
    >
        <mat-icon class="button-container__icon">{{
            isCollapsed ? "arrow_forward" : "arrow_back"
        }}</mat-icon>
    </button>
</div>
