@import "../../../../../../../../styles/variables";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-container {
        margin-top: 10px;
        width: 3vw;
        height: 3vw;
        border-radius: 3vw;

        &__img {
            width: 2.5vw;
            height: 2.5vw;
            fill: transparent;
        }
    }

    .text {
        margin-top: $small-spacing;
        color: $black;
        text-align: center;
        &--bold {
            margin-top: $small-spacing;
            color: $black;
            text-align: center;
            font-weight: $bold-weight;
        }
    }

    .button-container {
        margin-top: $medium-spacing;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        &__button {
            display: flex;
            align-items: center;
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            border: $white 2px solid;
            color: $white;
            background-color: $purple-dark;
            margin-right: -1rem;
        }
    }
}
