// fonts
$primary-font-family: Roboto, "Helvetica Neue", sans-serif;

// padding & margin
$small-spacing: 0.5rem;
$medium-spacing: 1rem;
$large-spacing: 1.5rem;
$extra-large-spacing: 2rem;

$container-padding: $medium-spacing;
$section-padding: $large-spacing;

// app colors
$purple-dark: #6351c2;
$purple-mid-dark: #a296f1;
$purple-mid-light: #c2baf6;
$purple-light: #d8d5f7;
$light-grey: #f2f4f8;
$dark-grey: #727272;

// text colors
$white: #fff;
$black: #000;
$red: #e63b2e; // error text
$green: #32cd32; // correct text
$blue: #0055ff; // important links
$accent-color: #ff9900;
$tooltip-color: #00bfff;

// button colors
$dark-btn-back: #3154d4;
$dark-btn-back-on-hover: #4f6cd5;
$dark-btn-text: #fdfaff;
$light-btn-back: #b4befe;
$light-btn-back-on-hover: #cad0fc;
$light-btn-text: #020b1b;

// profile icons background colors
$admin-icon-back: #ef436b;
$player-icon-back: #d281b5;
$coach-icon-back: #ffce5c;
$medic-icon-back: #ffb056;
$board-icon-back: #06d6a0;

// app icons
$blue-icon: #587cfe;
$light-blue-icon: #e2e8ff;

// active link
$active-link: #4e41a3;

// filter colors for meetings table
$filter-past: #5392d0;
$filter-today: #3ae02b;
$filter-future: #f8d030;

// font-weights
$bold-weight: 800;
$normal-weight: 400;
$light-weight: 200;

// font-sizes
$small-font: 12px;
$normal-font: 16px;
$large-font: 22px;
$very-large-font: 28px;
$huge-font: 34px;

// utility classes
// miscellaneous
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-raised-button.button {
    &--dark {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $dark-btn-back;
        color: $dark-btn-text;

        &:hover {
            background-color: $dark-btn-back-on-hover;
        }
    }

    &--light {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $light-btn-back;
        color: $light-btn-text;

        &:hover {
            background-color: $light-btn-back-on-hover;
        }
    }

    &--disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

mat-dialog-container div {
    border-radius: 10px !important;
}
