<div class="button-container">
    <button
        class="button--dark button-show-hide"
        mat-raised-button
        (click)="toggleAddEventPopup()"
    >
        Add Events
    </button>

    <button
        class="button--dark button-show-hide"
        mat-raised-button
        [disabled]="hasEnded"
        (click)="changeState()"
    >
        {{
            hasEnded
                ? "Match ended"
                : hasStarted
                  ? "End the match"
                  : "Start the match"
        }}
    </button>
</div>

<app-match-events-container
    class="events-container"
    [events]="events"
></app-match-events-container>
