<!-- <div class="divider">Half Time</div> -->
<div
    class="event"
    [ngClass]="event.is_own_event ? 'event-own' : 'event-not-own'"
>
    <div class="event__icon" [ngSwitch]="event.event_type">
        <mat-icon
            svgIcon="goal-icon"
            class="event__icon__goal"
            *ngSwitchCase="MatchEventType.Goal"
        >
        </mat-icon>

        <div
            class="event__icon__card event__icon__card--yellow"
            *ngSwitchCase="MatchEventType.YellowCard"
        ></div>
        <div
            class="event__icon__card event__icon__card--red"
            *ngSwitchCase="MatchEventType.RedCard"
        ></div>
    </div>
    <div class="event__time">{{ event.minute }}'</div>
    <div class="event__description">{{ event.description }}</div>
</div>
<!-- <div class="divider"> Full Time </div> -->
