<app-content-card>
    <app-wide-card-header header name="Info"></app-wide-card-header>

    <ng-container content class="info">
        <div class="info__question">
            <mat-nav-list class="info__question__list">
                <mat-list-item>
                    <div class="item"></div>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="info__answer">
            <ng-container>
                <div class="info__answer__header"></div>
            </ng-container>
        </div>
    </ng-container>
</app-content-card>
