<div class="error">
    <div class="card-container">
        <mat-card class="card-container__card card">
            <div class="card-container__card-text">No permissions</div>

            <div class="button-container">
                <button
                    class="button--dark button-container__button"
                    mat-raised-button
                    [routerLink]="'/app/dashboard'"
                >
                    Go to main Page
                </button>
            </div>
        </mat-card>
    </div>

    <img
        src="../../../../../../assets/images/error-app.png"
        class="error__image"
        alt=""
    />
</div>
