@import "../../../../styles/variables";
@import "../../../../styles/component-styles/components";

.error {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $light-grey;
    justify-content: space-between;

    .card-container {
        height: 100%;
        width: 45%;
        display: flex;
        align-items: center;

        &__card {
            height: 30%;
            width: 80%;
            margin: 0 auto;

            &-text {
                height: 60%;
                padding: $large-spacing;
                line-height: 32px;
                text-align: justify;
                font-size: $very-large-font;
                font-weight: $bold-weight;
            }

            .button-container {
                width: 55%;
                margin: $large-spacing auto;

                &__button {
                    font-size: $large-font;
                    font-weight: $normal-weight;
                }
            }
        }
    }

    &__image {
        max-width: 55%;
        width: auto;
        height: auto;
        border-left: $light-grey 1px solid;
    }
}
