@import "../../../../styles/component-styles/components";

:host {
    margin: 0;
    padding: 0;
    width: 48%; /* This will make the component 100% width of its parent (.meetings) */
    height: 95%; /* Set the height of the wide-card to 100% to fill its parent container */

    .card {
        &__buttons {
            display: flex;
            flex-direction: row;
        }
    }
}
