<mat-table #table [dataSource]="dataSource" class="table">
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef>{{ col }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element[col] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="addParamsToRouting(row.id)"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="10" class="paginator"></mat-paginator>
