.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3vh;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background: transparent;
    color: purple;
    border-top: 2px solid purple;
}
