@use "src/styles/_variables" as *;

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3vh;
    font-size: $small-font;
    background: $light-grey;
    color: $purple-dark;
    border-top: 2px solid $purple-dark;
}
