<app-half-card-section>
    <app-section-header name="Players" sectionHeader></app-section-header>

    <ng-container sectionContent>
        <mat-list role="list" class="list">
            <div class="row">
                <mat-list-item
                    role="listitem"
                    class="player"
                    *ngFor="let player of squad; let index = index"
                    >{{ index + 1 }}. {{ player }}
                </mat-list-item>
            </div>
        </mat-list>
    </ng-container>
</app-half-card-section>
