<app-content-card>
    <app-wide-card-header header name="General"> </app-wide-card-header>

    <ng-container content>
        <form (ngSubmit)="saveChanges()" class="auth__form">
            <mat-form-field class="auth__form__field">
                <mat-label class="field-label">Old Password:</mat-label>
                <input
                    class="field-input"
                    matInput
                    type="password"
                    formControlName="oldPassword"
                    required
                />
                <mat-error class="field-error">
                    Old Password is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="auth__form__field">
                <mat-label class="field-label">New Password:</mat-label>
                <input
                    class="field-input"
                    matInput
                    type="password"
                    formControlName="newPassword"
                    required
                />
                <mat-error class="field-error">
                    New Password is required.
                </mat-error>
                <mat-error class="field-error">
                    New Password must be at least 6 characters long.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="auth__form__field">
                <mat-label class="field-label">Confirm New Password:</mat-label>
                <input
                    class="field-input"
                    matInput
                    type="password"
                    formControlName="confirmPassword"
                    required
                />
                <mat-error class="field-error">
                    Confirm Password is required.
                </mat-error>
                <mat-error class="field-error">
                    New Password and Confirm Password do not match.
                </mat-error>
            </mat-form-field>
            <button class="button--dark" mat-raised-button type="submit">
                Change Password
            </button>
        </form>
    </ng-container>
</app-content-card>
