@import "../../../../../../styles/component-styles/components";

:host {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card__button {
        padding-right: $medium-spacing;
    }
}
