@import "../../../../../../../../styles/variables";

:host {
    display: block;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;

    .element {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__dot {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: $dark-grey 1px solid;

            &--past {
                background-color: $accent-color;
            }

            &--today {
                background-color: $green;
            }

            &--future {
                background-color: $blue;
            }
        }

        &__icon {
            font-size: $very-large-font;
            width: $very-large-font;
            height: $very-large-font;
        }

        &__text {
            font-size: $normal-font;
            font-weight: $bold-weight;
        }
    }
}
