<div class="element">
    <span class="element__dot element__dot--past"></span>
    <span class="element__text"> Past </span>
</div>
<div class="element">
    <span class="element__dot element__dot--today"></span>
    <span class="element__text"> Today </span>
</div>
<div class="element">
    <span class="element__dot element__dot--future"></span>
    <span class="element__text"> Future </span>
</div>
<div class="element">
    <mat-icon class="element__icon">flag</mat-icon>
    <span class="element__text"> Yours </span>
</div>
