<mat-form-field appearance="outline">
    <input matInput [matDatepicker]="datePicker" placeholder="Choose a date" />
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline">
    <input
        matInput
        [ngxTimepicker]="timePicker"
        [format]="24"
        placeholder="Select time"
    />
    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
</mat-form-field>

<button mat-button (click)="selectDateTime()">Select Date & Time</button>
