@use "src/styles/_variables" as *;

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    color: black;
    text-decoration: none;
    font-size: $large-font;
    font-weight: $light-weight;
    transition: color 0.3s ease;

    &__link {
        cursor: pointer;
        opacity: 0;

        &--expanded {
            animation: expandLink 0.2s ease 0.2s forwards;
        }
    }
    &.active {
        font-size: $large-font;
        font-weight: $medium-weight;
    }

    &__icon-container {
        width: 5vw;
        display: flex;
        justify-content: center;
    }

    &__icon {
        transform: scale(1.5);
    }
}

@keyframes expandLink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
