@use "src/styles/_variables" as *;

.sidenav {
    background-image: linear-gradient(
        to bottom,
        $purple-light,
        $purple-mid-dark
    );
    transition: all 0.5s ease;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 12vw;
    height: 100vh;
    box-shadow: 0.1rem 0 1.25rem 0 #8690a3;
    border-right: 2px solid white;

    &__list {
        list-style: none;
        padding: 1rem 0;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &--collapsed {
        width: 5vw;
    }
}
