.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 10%;
    min-width: 56px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.main-content {
    padding: 16px; /* Add some padding to the main content */
    flex: 1; /* Make the main content fill the available space */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 64px;
    background-color: #1976d2;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

button {
    color: #fff;
}
