<div class="sidenav" [ngClass]="{ 'sidenav--collapsed': isCollapsed }">
    <app-menu-header
        (collapsedClicked)="toggleCollapse()"
        [isCollapsed]="isCollapsed"
    ></app-menu-header>
    <ul
        class="sidenav__list"
        [ngClass]="{ 'sidenav__list--unfolded': !isCollapsed }"
    >
        <li *ngFor="let item of menuItems">
            <app-menu-item
                [item]="item"
                [isCollapsed]="isCollapsed"
            ></app-menu-item>
        </li>
    </ul>
</div>
