@import "../../../../../styles/component-styles/components";

:host {
    margin: 1rem auto;
    padding: 0;

    .card {
        background-color: $purple-mid-light;
        width: 95%;
        margin: 0 auto;
        height: auto;
        margin: 1rem auto;
    }
}
