@import "../../../../../../../../styles/variables";

:host {
    display: flex;
    flex-direction: column;
    gap: $medium-spacing;

    .button-container {
        width: 80%;
        margin: 0 auto;
    }

    .events {
        padding: $medium-spacing;
        margin: 0 $medium-spacing;
        overflow-y: scroll;
        height: 60vh;
    }
}
