<app-score [score]="matchScore"></app-score>

<app-button-container class="button-container">
    <button
        class="button--dark button-show-hide"
        mat-raised-button
        (click)="toggleContentType(contentTypes.Details)"
    >
        Details
    </button>
    <button
        class="button--dark button-show-hide"
        mat-raised-button
        (click)="toggleContentType(contentTypes.Squad)"
    >
        Squad
    </button>
    <button
        class="button--dark button-show-hide"
        mat-raised-button
        (click)="toggleContentType(contentTypes.Events)"
    >
        Events
    </button>
</app-button-container>

<div [ngSwitch]="contentType$ | async">
    <app-match-details
        *ngSwitchCase="contentTypes.Details"
        [matchDetails]="matchBase"
    ></app-match-details>
    <app-match-squad
        *ngSwitchCase="contentTypes.Squad"
        [squad]="matchSquad"
    ></app-match-squad>
    <ng-container *ngSwitchCase="contentTypes.Events">
        <app-match-events
            *ngIf="events$ | async as events"
            class="events"
            [events]="events"
            [hasEnded]="matchEnded"
            [hasStarted]="matchStarted"
        ></app-match-events>
    </ng-container>
</div>

<app-spinner
    [spinnerMessage]="spinnerMessage"
    *ngIf="isCurrentMatchLoading$ | async"
></app-spinner>
