@use "src/styles/_variables" as *;

:host {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .view-container {
        background-color: $light-grey;
        display: flex;
        height: 97vh;
        width: 100%;
        margin: 0;
    }
}
