@use "src/styles/_variables" as *;

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .view-container {
        background-color: $light-grey;
        height: 97vh;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
