<div class="container flex-center">
    <div class="container__left flex-center">
        <mat-icon class="container__left__icon">person</mat-icon>
    </div>
    <app-half-card-section class="container__right">
        <app-section-header name="Coach" sectionHeader> </app-section-header>
        <ng-container sectionContent>
            <div class="coach">
                {{ team.coach ? team.coach.user_full_name : "No coach" }}
            </div>
        </ng-container>
    </app-half-card-section>
</div>

<div class="container flex-center">
    <div class="container__left flex-center">
        <mat-icon class="container__left__icon">directions_run</mat-icon>
    </div>
    <app-half-card-section class="container__right">
        <app-section-header name="Players" sectionHeader> </app-section-header>
        <ng-container sectionContent>
            <mat-list role="list" class="list">
                <div class="row">
                    <mat-list-item
                        role="listitem"
                        class="player"
                        *ngFor="let player of team.players; let index = index"
                        >{{ index + 1 }}. {{ player.user_full_name }}
                    </mat-list-item>
                </div>
            </mat-list>
        </ng-container>
    </app-half-card-section>
</div>
