<mat-table #table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.email }}
        </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="Role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-select
                (selectionChange)="setSelectedRole(element.id, $event.value)"
            >
                <mat-option *ngFor="let role of roles" [value]="role">{{
                    role
                }}</mat-option>
            </mat-select>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Password">
        <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
        <mat-cell *matCellDef="let element" class="">
            <mat-icon>
                {{ element.password }}
            </mat-icon>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<div *ngIf="(totalItems$ | async) === 0" class="no-records">No Records</div>

<mat-paginator
    *ngIf="totalItems$ | async"
    #paginator
    [pageSize]="itemsPerPage"
    [length]="totalItems$ | async"
    (page)="changePage($event)"
    class="paginator"
></mat-paginator>
