<mat-table #table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.full_name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.email }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button
                mat-button
                [disabled]="element.email === currentUserEmail"
                [matMenuTriggerFor]="roleMenu"
                [appPermissionBackgroundColor]="element.role"
            >
                {{ element.role }}
            </button>

            <mat-menu #roleMenu="matMenu">
                <button
                    mat-menu-item
                    *ngFor="let role of roles"
                    (click)="setSelectedRole(element.id, role)"
                >
                    {{ role }}
                </button>
            </mat-menu>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Password">
        <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" class="cell">
            <ng-container *ngIf="element.email !== currentUserEmail; else you">
                <mat-form-field>
                    <input
                        matInput
                        [disabled]="element.email === currentUserEmail"
                        [formControl]="passwordFormArray.at(i)"
                        placeholder="New Password"
                    />
                </mat-form-field>
                <button
                    class="button--light button--table"
                    mat-raised-button
                    (click)="changePassword(element.id, i)"
                    [disabled]="passwordFormArray.at(i).invalid"
                >
                    Change Password
                </button>
            </ng-container>
            <ng-template #you>
                <a
                    class="link"
                    routerLinkActive="active"
                    [routerLink]="['./../general']"
                >
                    <span class="link-text"> Go to General </span>
                </a>
            </ng-template>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<div *ngIf="(totalItems$ | async) === 0" class="no-records">No Records</div>

<mat-paginator
    *ngIf="totalItems$ | async"
    #paginator
    [pageSize]="itemsPerPage"
    [length]="totalItems$ | async"
    (page)="changePage($event)"
    class="paginator"
></mat-paginator>
