@import "../../../../../../../../../../styles/component-styles/components";
@import "../../../../../../../../../../styles/variables";

:host {
    width: 100%;
    .no-records {
        font-size: $large-font;
        margin: $medium-spacing auto;
    }

    .cell {
        align-self: flex-start;
        padding: 1px;

        &__input {
            transform: scale(0.8);
        }

        &__icon {
            transform: scale(1.5);
            padding: 0;
            margin: 0;
        }
    }

    .button--table {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
    }

    .link {
        width: 100%;
        text-decoration: none;
        font-size: $normal-font;
        font-weight: $bold-weight;
        &-text {
            cursor: pointer;
            color: $black;
        }
    }
}
