<div class="sidenav">
    <div class="sidenav__header">Settings</div>
    <ul class="sidenav__list">
        <li *ngFor="let item of menuItems">
            <a
                *appPermission="item.permission"
                class="sidenav__link"
                routerLinkActive="active"
                [routerLink]="item.route"
            >
                <span class="sidenav__link-text">{{
                    item.name | snakeToNormal
                }}</span>
            </a>
        </li>
    </ul>
</div>
