@use "src/styles/_variables" as *;

.sidenav {
    background-color: $white;
    transition: all 0.5s ease;
    position: sticky;
    z-index: 0;
    top: 0;
    width: 10vw;
    height: 100vh;
    box-shadow: 0.1rem 0 1.25rem 0 $light-grey;

    &__header {
        height: 8vh;
        background-color: $purple-mid-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $very-large-font;
        font-weight: $bold-weight;
    }

    &__list {
        list-style: none;
        padding: $medium-spacing;
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: $medium-spacing;
        color: $black;
        text-decoration: none;
        transition: color 0.3s ease;
        &-text {
            cursor: pointer;
        }
        &.active {
            color: $purple-dark;
        }
    }
}
