<mat-card class="auth" *appPermission="permissions.Cluster">
    <mat-card-header class="auth__header">
        <mat-card-title class="auth__title">Login</mat-card-title>
    </mat-card-header>
    <form class="auth__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="auth__form__field">
            <mat-label class="field-label">Email:</mat-label>
            <input
                class="field-input"
                title="email"
                matInput
                type="email"
                formControlName="email"
                required
            />
            <mat-error class="field-error"> Incorrect email. </mat-error>
        </mat-form-field>

        <mat-form-field class="auth__form__field">
            <mat-label class="field-label">Password:</mat-label>
            <input
                class="field-input"
                title="password"
                matInput
                type="password"
                formControlName="password"
                required
            />
            <mat-error> Incorrect password. </mat-error>
        </mat-form-field>

        <button class="button--dark" mat-raised-button type="submit">
            Login
        </button>
        <div class="auth__bottom">
            <div class="auth__bottom-text">
                <span>Don't have an account?</span>
            </div>
            <div class="auth__bottom-link">
                <a routerLink="/auth/register"> Register </a>
            </div>
        </div>
    </form>
</mat-card>
