@import "../../../../../styles/variables";

.login {
    width: 500px;
    border-radius: 10px !important;
    background-color: $purple-light;

    &__header {
        background-color: $purple-mid-dark;
        padding: 10px;
        border-radius: 10px !important;
    }

    &__form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;

        &__field {
            width: 100%;
            margin-bottom: 10px;

            .form-input {
                width: 100%;
            }

            &.mat-form-field-invalid {
                .form-label {
                    color: red;
                }

                .form-input {
                    border-color: red;
                }
            }
        }

        .field-error {
            color: red;
            margin-top: 5px;
        }

        .btn {
            width: 100%;
            margin-top: 10px;
            background-color: $purple-dark;
            color: $light-grey;
        }

        .router-btn {
            background-color: rgb(55, 59, 121);
        }
    }
}
