<ng-container
    *ngIf="{
        isDetail: isDetail$ | async,
        tableTeams: tableTeams$ | async,
        currentTeam: currentTeam$ | async
    } as vm"
>
    <app-content-card>
        <app-wide-card-header header name="Teams">
            <app-button-container buttons>
                <!-- <button
                    mat-raised-button
                    class="button--light"
                    (click)="onNewMeetingClick()"
                >
                    Add Meeting
                </button> -->
            </app-button-container>
        </app-wide-card-header>

        <ng-container content>
            <app-teams-table
                *ngIf="vm.tableTeams"
                [data]="vm.tableTeams"
            ></app-teams-table>
        </ng-container>
    </app-content-card>

    <app-content-card *ngIf="vm.isDetail">
        <app-half-card-right-header
            header
            name="{{ vm.currentTeam?.name }}"
            (closedClicked)="switchDetail()"
        >
            <app-button-container buttons>
                <!-- <button
                    mat-raised-button
                    class="button--light"
                    (click)="onModifyMeetingClick()"
                >
                    Modify Meeting
                </button> -->
            </app-button-container>
        </app-half-card-right-header>

        <ng-container content>
            <app-teams-content *ngIf="vm.currentTeam"></app-teams-content>
        </ng-container>
    </app-content-card>
</ng-container>
